@font-face {
  font-family: "iconfont"; /* Project id 2875270 */
  src: url('iconfont.woff2?t=1698831775577') format('woff2'),
       url('iconfont.woff?t=1698831775577') format('woff'),
       url('iconfont.ttf?t=1698831775577') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanxian:before {
  content: "\e612";
}

.icon-fenghuangxiangmutubiao_quanxian:before {
  content: "\e66d";
}

.icon-a-quanxian2:before {
  content: "\eabb";
}

.icon-zuzhi3:before {
  content: "\e62a";
}

.icon-zuzhi4:before {
  content: "\e60b";
}

.icon-zuzhi:before {
  content: "\e679";
}

.icon-hebingxingzhuang:before {
  content: "\e62f";
}

.icon-zuzhi1:before {
  content: "\e640";
}

.icon-zuzhi2:before {
  content: "\e75a";
}

.icon-jiangxu:before {
  content: "\e64a";
}

.icon-shengxu:before {
  content: "\e64d";
}

.icon-jiangxu1:before {
  content: "\e7cc";
}

.icon-shengxu1:before {
  content: "\e7d1";
}

.icon-xiangyoujiantou:before {
  content: "\e660";
}

.icon-xiangzuojiantou:before {
  content: "\e661";
}

.icon-rili:before {
  content: "\e606";
}

.icon-tupian:before {
  content: "\e63f";
}

.icon-bianji:before {
  content: "\e607";
}

.icon-wenbenbianji:before {
  content: "\e6d5";
}

.icon-tishi:before {
  content: "\e653";
}

.icon-jifen:before {
  content: "\e65e";
}

.icon-icon:before {
  content: "\e65f";
}

.icon-icon-:before {
  content: "\e60e";
}

.icon-tupian1:before {
  content: "\e61f";
}

.icon-chaxun:before {
  content: "\e60a";
}

.icon-chaxun1:before {
  content: "\e654";
}

.icon-bangzhu:before {
  content: "\e603";
}

.icon-bangzhu1:before {
  content: "\e8ac";
}

.icon-gonggong-youjiantou:before {
  content: "\e64f";
}

.icon-youjiantou-sange:before {
  content: "\e64e";
}

.icon-a-youjiantouzhixiangyoujiantou:before {
  content: "\e60d";
}

.icon-zhaoxiangji:before {
  content: "\e602";
}

.icon-zhaoxiangji1:before {
  content: "\e663";
}

.icon-daochu:before {
  content: "\e63e";
}

.icon-daochu1:before {
  content: "\eabf";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-qingkong1:before {
  content: "\e629";
}

.icon-jia:before {
  content: "\e600";
}

.icon-tianjia:before {
  content: "\e601";
}

.icon-zhedie3:before {
  content: "\e633";
}

.icon-zhedie4:before {
  content: "\e634";
}

.icon-guanbi2:before {
  content: "\e725";
}

.icon-shanchu:before {
  content: "\e68f";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-chexiaozuo:before {
  content: "\e604";
}

.icon-chexiaoyou:before {
  content: "\e605";
}

.icon-qialuli:before {
  content: "\e7b4";
}

.icon-icontz:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e611";
}

.icon-tubiao-setiao:before {
  content: "\e68e";
}

.icon-nianling:before {
  content: "\e673";
}

.icon-jirou:before {
  content: "\e609";
}

.icon-jianshen-gongertouji-shoubi-jirou:before {
  content: "\e64c";
}

.icon-fanghushenpi:before {
  content: "\e616";
}

.icon-dongwugugefenxi:before {
  content: "\e66e";
}

.icon-shuifen:before {
  content: "\eb33";
}

.icon-pifu:before {
  content: "\e62b";
}

.icon-BMIzice:before {
  content: "\e674";
}

.icon-nianling1:before {
  content: "\e69d";
}

.icon-zitizhifang:before {
  content: "\e608";
}

.icon-youzhi:before {
  content: "\e819";
}

.icon-fanghu:before {
  content: "\ec56";
}

