<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title></title>
		<!-- OSS 公共样式 -->
		<link rel="stylesheet" href="../xhb-css/table.css">
		<link rel="stylesheet" href="../xhb-css/reset.css">
		<link rel="stylesheet" href="../xhb-css/common.css">
		<link rel="stylesheet" href="../xhb-css/grt_system.css">
		<link rel="stylesheet" href="../../growatt-font/iconfont.css">

		<!-- element ui样式 -->
		<link rel="stylesheet" href="../../element_ui/themes/index.css">

		<!-- 基于element ui自定义的组件样式-->
		<link rel="stylesheet" href="../xhb-components/css/index.css">

		

		<!-- oss 公共spring -->
		<script src="../xhb-spring-lang.js"></script>

		<style>
			#protableQuestionAPP{height: 100vh;}
			
			.country-txt-c{
				color: #8B8B8C;
			}
			.filter-config-item{
				width:200px;
				margin-right: 10px;
			}
			.details-txt{color:#8B8B8C;}
			.protable-question-details-item{margin-bottom:20px;}
			#protableQuestionDetails{position: relative;}
			.protableQuestionDetailsBtn{
				position: absolute;
    			right: 1%;
			}
			.protable-question-details-item-ul li:first-child{margin-left:0;}
			.protable-question-details-item-ul li{
				width: 183px;
				height: 120px;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				position: relative;
				line-height: 120px;
				background: rgba(139,139,139, 0.2);
				text-align: center;
				box-sizing: border-box;
				border-radius: 5px;
			}
			.protable-question-details-item-ul li img{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 100;
				left: 0;
				cursor: pointer;
			}
			.protable-question-details-item-ul li img {
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				z-index: 100;
				left: 0;
				cursor: pointer;
				max-height: 100%;
				max-width: 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				-webkit-transform: translate(-50%,-50%);
			}
			.protable-question-details-item-ul li img[title='0']{display:none;}
			.protable-question-details-item-ul li span{
				z-index: 50;
    			font-size: 80px;
				display: none;
			}
			.protable-question-details-item-ul li img[title='0'] + span{display:block;} 
			
		</style>
		
	</head>
	<body>
		
		<div id="protableQuestionAPP" class="xhb-oss-module xhb-element-ui-reset" v-cloak>
			<el-row class="mb-10">
				<el-col :xs="24" :sm="24" :md="6" :lg="6">
					<!-- 面包屑组件sss -->
					<xhb-common-bread :name="bread.name" :sub_name="bread.subName"></xhb-common-bread>
					<!-- 面包屑组件eee -->
				</el-col>

				<el-col :xs="24" :sm="24" :md="18" :lg="18" v-show="isShowDetails" class="flex_flex-end">
					<el-button type="primary" size="small" @click="isShowDetails = false" class="protableQuestionDetailsBtn">返回</el-button>
				</el-col>
				

				<el-col :xs="24" :sm="24" :md="18" :lg="18" v-show="!isShowDetails">
					<div class="flex_flex-end">
						
						<div class="filter-config-item">
							
							<el-select v-model="questionType" placeholder="问题类型" filterable clearable
								size="small"
								:style="{width: '100%'}">
								<el-option v-for="(item, index) in questionTypeList" :key="index" :label="item.label" :value="item.id"
								:disabled="item.disabled"></el-option>
							</el-select>
						</div>
						<div><xhb-country-select :oss_world_data="ossWorldData" :show_type="3" 
							ref="xhbCountrySelectDom" 
							:multiple="true"
							:area_multiple="true"
							:country_multiple="true"></xhb-country-select>
						</div>
						<div class="filter-config-item">
							<el-input placeholder="设备序列号"  size="small" prefix-icon="el-icon-search"  v-model="sn">	
							</el-input>
						</div>
						<div class="filter-config-item" :style="{width: '250px'}">
							<el-date-picker type="daterange" v-model="rangeDate" format="yyyy-MM-dd" size="small" 
							value-format="yyyy-MM-dd" :style="{width: '100%'}" start-placeholder="开始日期" end-placeholder="结束日期"
							range-separator="-" clearable>
							</el-date-picker>
						</div>
						

						<el-button type="primary" size="small" @click="searchData">查询</el-button>
						<el-button type="primary" size="small" class="ml-10">导出</el-button>
					</div>
				</el-col>
			</el-row>

			<div class="pd-10" v-show="!isShowDetails">
				<el-row>
					<xhb-common-tab :list="tabData" @tabclick="tabclickFn1" ref="mainTabDom"></xhb-common-tab>					
				</el-row>
				<div class="mt-10">
						<el-table
						:data="protableQuestionList"
						stripe
						border
						:header-cell-style="tableStyleConfig.thead"
						:cell-style="tableStyleConfig.tbody"
						:empty-text="noDataAndAddRootNotice"
						@selection-change="selectionChangeEvent"
						@select="selectEvent"
						style="width: 100%">

						<el-table-column
									type="selection"
									width="55">
							</el-table-column>

							<el-table-column
								label="序号"
								type="index">
							</el-table-column>

							<el-table-column
								prop="title"
								label="问题类型"
								>								
							</el-table-column>

							<el-table-column
								label="反馈内容"
								width='300'
								>
								<template slot-scope="scope">
									<span class="w_100 inline-block one-overflow" :title=" scope.row.content ">{{ scope.row.content }}</span>
								  </template>
							</el-table-column>

							<el-table-column
								prop="email"
								label="客户邮箱"
								>								
							</el-table-column>

							<el-table-column
								prop="questionDevice"
								label="设备SN"
								>								
							</el-table-column>

							<el-table-column
								prop="model"
								label="设备型号"
								>								
							</el-table-column>

							<el-table-column
								label="区域">
								<template slot-scope="scope">
									<span>{{ getAreaTxt(scope.row.areaId) }}</span>
								  </template>
							</el-table-column>

							<el-table-column
								label="国家">
								<template slot-scope="scope">
									<span>{{ getCountryTxt(scope.row.areaId ,scope.row.countryId) }}</span>
								  </template>
							</el-table-column>

							<el-table-column
								label="操作">
									<template slot-scope="scope">
										<el-tag size="small" type="info"><a @click="showDeatils(scope.row)" title="点击查看详情"><i class="iconfont icon-chakan"></i></a></el-tag>
										
								  </template>
							</el-table-column>
						</el-table>

						<div class="mt-10 flex_flex-end">
							<el-pagination
							background
							layout="prev, pager, next, jumper"
							@current-change="currentChange"
							:page-size="10"
							:total="50">
							</el-pagination>
						</div>		
				</div>
			</div>
			
			<!-- 详情信息sss -->
			<div id="protableQuestionDetails" class="pt-10" v-show="isShowDetails">
				
				<table class="table table-hover table-bordered table-border w_100">
					<tbody>
						<tr>
							<td width="12.5%"><div class="protable-details-tablettd-title">问题类型</div></td>
							<td colspan="3">{{ detailsInfo.title }}</td>
							<td width="12.5%"><div class="protable-details-tablettd-title">客户邮箱</div></td>
							<td colspan="3">{{ detailsInfo.email }}</td>
						</tr>

						<tr>
							<td><div class="protable-details-tablettd-title">区域</div></td>
							<td colspan="3">{{ getAreaTxt(detailsInfo.area) }}</td>
							<td><div class="protable-details-tablettd-title">国家</div></td>
							<td colspan="3">{{ getCountryTxt(detailsInfo.area,detailsInfo.country) }}</td>
						</tr>

						<tr>
							<td><div class="protable-details-tablettd-title">设备SN</div></td>
							<td colspan="3">{{ detailsInfo.sn }}</td>
							<td><div class="protable-details-tablettd-title">设备型号</div></td>
							<td colspan="3">{{ detailsInfo.deviceType }}</td>
						</tr>
					</tbody>
				</table>

				<div class=" mt-20">
					<div class="protable-question-details-item ">
						<b class="fs-16">反馈内容</b>
						<div class="mt-5"><span class="details-txt fs-14">{{ detailsInfo.content }}</span></div>
					</div>
	
					<div class="protable-question-details-item">
						<b class="fs-16">反馈图片</b>
						<div class="mt-5">
							<ul class="w_100 protable-question-details-item-ul flex-wrap">
								<li v-for="(item,index) in detailsInfo.imgList" >
									<img :src="item" alt="" onerror="this.title=0" title="点击预览" @click="previewImg(item,index)"/>
									<span class="iconfont icon-tupianjiazaishibai" title="图片加载失败"></span>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				

				
			</div>
			<!-- 详情信息eee -->

		</div>
		
		<script src="../utils/OSSWorldData.js"></script>
		
		<script src="../../js/vue.min.js"></script>
		<script src="../../element_ui/elementUI.js"></script>
		<!-- <script src="../../js/main/xhb.commonPlugin.js"></script> -->
		<script src="../../js/jquery.js"></script>
		<script src="../../js/layer/layer.js"></script>
		<script src="../../js/main/jquery.xhb.plugin.js"></script>
		<script src="../xhb-js/common2.js"></script>
		
		<script src="../xhb-components/xhb-common-bread.js"></script>
		<script src="../xhb-components/xhb-common-tab.js"></script>
		<!-- xhb-country-select -->
		<script src="../xhb-components/xhb-country-select.js"></script>

		<script>
		
			var app = new Vue({
				el:"#protableQuestionAPP",
				components: {
					'xhb-common-bread':xhbCommonBread,//面包屑导航组件
					'xhb-common-tab':xhbCommonTab,//公共tab组件
					'xhb-country-select':xhbCountrySelect,//自定义多类型公共国家下拉框组件
				},
				data(){
					return {
						
						bread:{
							name:'服务大厅',
							subName:'问题大厅'
						},
						tabData:[
							{curr:false,txt:"常规问题大厅",url:""},
							{curr:true,txt:"便携储能问题大厅", },
						],			
						questionTypeList:[
							{id:1, label:'设备问题'},
							{id:2, label:'APP问题'},
							{id:3, label:'其他'},
						],
						questionType:undefined,
						sn:'',
						rangeDate:null,
						noDataAndAddRootNotice:"暂无数据",
						ossWorldData:JSON.parse(JSON.stringify(OSSWorldData)),
						//表格配置
						tableStyleConfig:{
							thead:{padding:'6px 0',backgroundColor:'#ebf7ff',borderColor:'#d5e7f2'},
							tbody:{border:'none'}
						},
						protableQuestionList:[
							{
								"id":1,"title":1,"content":"LYLCES","questionDevice":"asdf123456","model":"growatt","email":"yilong.li@growatt.com","areaId":1,"countryId":1,"createrTime":"2023-11-29 19:18:11","area":"亚洲","country":"中国",
								"picture":"complaints/16508496314035305.png_complaints/16507934661522917.jpg_complaints/165079346615229107.jpg",
							}
						],
						detailsInfo:{
							"id":1,"title":1,"content":"LYLCES","questionDevice":"asdf123456","model":"growatt","email":"yilong.li@growatt.com","areaId":1,"countryId":1,"createrTime":"2023-11-29 19:18:11","area":"亚洲","country":"中国",
							"picture":"complaints/16508496314035305.png_complaints/16507934661522917.jpg_complaints/165079346615229107.jpg_ceshi007/3.png",
							imgList:[],
						},
						isShowDetails:false,
						selection:[],//被选中的列表
					}
				},
				created(){

				},
				mounted() {
					
				},
				watch:{

				},
				methods:{
					searchData(){
						let areaCountry = this.$refs.xhbCountrySelectDom.getSelectedData();
						console.info(areaCountry,"areaCountry",this.getQueryParam(),this.getIds())
					},
					currentChange(n){
						console.info(n,"当前页")
					},
						//tab点击事件
					tabclickFn1(data){
						console.log(data,"切换tab")
						if(data[0].url) window.location.href = data[0].url;
					},
					/**
					 *根据国家对象区域和id, 获取国家txt
					 * @param {Object} oCountry {"1":["1","10"]}
					*/
					getTxtByCountryList(oCountry){
						let notAssignedCountryList = oComFn.getCountryTxtList(oCountry,this.ossWorldData);
						let list = Object.values( notAssignedCountryList );
						return $.flattening(list);//数组扁平胡化
					},
					getCountryTxt(area,country){
						let obj = {};
						obj[area+''] = country;
						return this.getTxtByCountryList(obj).join();
					},
					getAreaTxt(id){
						//根据区域id获取对应字段
						return oComFn.getTxtByAreaId(id, this.ossWorldData);
					},
					//显示详情
					showDeatils(row){
						this.isShowDetails = true;
						//图片路劲拼接
						this.getImgUrlByData();
					},
					//预览
					previewImg(url,index){						

						layer.photos({
							photos: {
								data: [{
									// "alt": '图片'+ (index+1),
									src: url
								}]
							},
							shadeClose: true,
							closeBtn: 1,
							anim: 5,
							full:true,
							zIndex:999999999
						});

					},
					//图片路劲拼接
					getImgUrlByData(){
						this.detailsInfo.imgList = [];
						if(this.detailsInfo.picture.length === 0 || this.detailsInfo.picture.indexOf('.') === -1){
							return false;
						}
						let list = this.detailsInfo.picture.split('_');
						list.forEach((item,index)=>{
							//http://cdn.growatt.com/installMap/
							
							this.detailsInfo.imgList.push( (index === (list.length-1) ? 'http://cdn.growatt.com/installMap/' : oComFn.commonImgUrl) + item )
						});
						
					},
					//当选择项发生变化时会触发该事件
					selectionChangeEvent(s,r){
						console.info(s,r,"当选择项发生变化时会触发该事件")
						this.selection = s;
					},
					//当用户手动勾选数据行的 Checkbox 时触发的事件
					selectEvent(s,r){
						// console.info(s,r,"当用户手动勾选数据行的 Checkbox 时触发的事件")
					},
					getQueryParam(){
						let areaCountry = this.$refs.xhbCountrySelectDom.getSelectedData();
						let areaList = [], countryList = [];
						if(areaCountry){
							let type = $.getDataType(areaCountry);
							if(type === 'array'){
								areaCountry.forEach((item,index) =>{
									areaList.push(item[0]);
									countryList.push(item[1]);
								});
							}
							else if(type === 'object'){
								areaList = areaCountry['area'] || [];
								countryList = areaCountry['country'] || [];
							}
							
						}
						
						areaList = [...new Set(areaList)];//去重

						let param ={
							title: this.questionType || -1,
							questionDevice:this.sn,
							startCreaterTime:this.rangeDate ? this.rangeDate[0] : undefined,
							endCreaterTime:this.rangeDate ? this.rangeDate[1] : undefined,
							// area:areaList.length ? (areaList.join())*1 : -1,
							area: areaList.join(),
							countryId:countryList.join(),
						};
						return param;
					},
					//读取已选数据id
					getIds(){
						let ids = [];
						this.selection.forEach((item)=>{
							ids.push(item.id)
						});
						return ids;
					},
					
				}
			});
		</script>
	</body>
</html>