/*换肤*/
body{display: block; background: url(../images/Pem_bg2.png) no-repeat top center; width: 100%;background-position: center 0;-webkit-background-size: cover;background-size: cover;text-align: center;}

